<header>
    <!--BARRA DE NAVEGACIÓN -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#"></a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li>
                  <a href="#" [routerLink] = "['/Inicio']" class="navbar-brand">
                    <!-- LOGO PÁGINA -->
                    <img src="assets/img/alvc_logo.png" class="image_alvc" alt="">
                  </a> 
                </li>
                <li class="nav-item"> <!-- PÁGINA DE INICIO -->
                  <a class="nav-link" href="#" [routerLink] = "['/Inicio']">Inicio</a>
                </li>
                <li class="nav-item"> <!-- CATEGORÍA NACIONAL -->
                  <a class="nav-link" href="#" [routerLink] = "['/Nacional']">Nacional </a>
                </li>
                <li class="nav-item"> <!-- CATEGORÍA INTERNACIONAL -->
                  <a class="nav-link" href="#" [routerLink] = "['/Internacional']">Internacional</a>
                </li>
                <li class="nav-item"> <!-- CULTURAL -->
                  <a class="nav-link" href="#" [routerLink] = "['/Culturales']">Culturales</a>
                </li>
                <li class="nav-item"> <!-- ESPECTÁCULO -->
                  <a class="nav-link" href="#" [routerLink] = "['/Espectaculo']">Espectáculo</a>
                </li>
                <li class="nav-item"> <!-- SALUD -->
                  <a class="nav-link" href="#" [routerLink] = "['/Salud']">Salud</a>
                </li>
              </ul>
              <div class="margenHead">
                <form class="form-inline my-2 my-lg-0">
                  <!-- BUSCAR NOTICIA -->
                  <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" [routerLink] = "['/Buscar']">Buscar <i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
            </nav>
          </div>
        </div>
      </div>

<!-- BARRA DE REGISTRO E INICIO SESION -->
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-warning mr-3 pb-1">
      <a class="nav-link text-warning" [routerLink]="['/Registrate']"> <i class="far fa-user"></i> Regístrate</a>
    </button>
    <button type="button" class="btn btn-outline-warning mr-3 pb-1">
      <a class="nav-link text-warning" [routerLink]="['/Iniciar sesión']"> <i class="fas fa-user"></i> Iniciar sesión</a>
    </button>
  </div>
  <div class="container-fluid">
    <div class="d-flex">
      <div class="mr-auto">
      <!-- <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled">>
          Dark Theme
        </mat-slide-toggle> --> 
       <div class="dark-mode">
        <label for="dark-mode" class="dark-mode-button"> 
          <input id="dark-mode" type="checkbox" onclick="document.documentElement.classList.toggle('dark-mode')">
          Modo Oscuro  <i class="fas fa-moon"></i>
        </label>
      </div>  
      </div>
      <div class="p-2">
        <div class="sugerencias"> 
          <a [routerLink]="['/Sugerencias']"> ¿Quieres enviarnos tu opinión?</a>
        </div>
      </div>
    </div>

  </div>


  <!-- TITULO 1 -->
  <div class="container-fluid py-1 text-center">
    <div class="row">
      <div class="col-md-12">
          <h5 class="bg-warning">Noticias ALVC</h5>
      </div>
    </div>
  </div>


</header>







<!--

  <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
                  <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar <i class="fas fa-search"></i></button>
                </form>



    <form action="['/Prueba']">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit" [routerLink]="['/Prueba']">
  </form>

  <input type="button" onclick="alert('Hello World!')" value="Click Me!">

  <button (click)="onClickMe()">Click me!</button>

  <input (input)="textoPadre = $event.target.value">
  <app-prueba [textoHijo] = "textoPadre"></app-prueba>


  <input (input) = "mensaje= $event.target.value" class="form-control mr-sm-2" type="text" [(ngModel)]="mensaje" placeholder="Buscar..." aria-label="Search">
-->