

  
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{{news.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{news.titleCard}}</h5>
      <p class="card-text">{{news.body}}</p>
      <p class="card-text"><small class="text-muted">{{news.journalist}}  |  <i class="fas fa-calendar-week"></i> {{news.date}}  |  {{news.category}}</small></p>
      <div class="col text-right">
          <a class = "text-warning" href="#" [routerLink]="['/noticia', news._id]" >Ver Más</a>  
      </div>
    </div>
  </div>
</div>